<div></div>
<style>
*{background-color:#CBC35C;}
div{width:240;height:150;background:conic-gradient(#12703D 0 90deg, #1D1714 90deg 180deg, #CF464A 180deg 270deg,#FFFAC2 0);margin:75;clip-path:polygon(50%0%,100%50%,50%100%,0%50%);}
</style>
